@import url('../reset/reset.css');

main {
    display: grid;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    margin: 0 auto;
    width: 90vw;
    max-width: 625px;
}


#value {
    font-size: 6rem;
    font-weight: bold;
  }


