@import url("../reset/reset.css");

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.title {
  text-align: center;
  margin-bottom: 4rem;
}

.img-container {
  margin: 0 auto;
}

#person-img {
  width: 360px;
  height: 360px;
}
