@import url('../reset/reset.css');

nav {
    background-color: #fff;
    display: grid;
    height: 3rem;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.nav-center {
    width: 90vw;
    max-width: 625px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.nav-center h4{
    font-size: 1.25rem;
}

.nav-links {
    display: flex;
    padding-right: 12px;
}

.nav-links li{
    padding-right: 24px;
}

/*
=========
Container
=========
*/

main {
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
}

.container {
    text-align: center;
}

.container h2 {
    background: #fff;
    color: #222;
    padding: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 2.5rem;
  }